@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 900px;
  height: 500px;
}

.icon {
  display: flex;
  flex-direction: column;
  width: 450px;
  min-height: 100%;
  background-color: #4635f3;
  color: #fff;
  gap: 80px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 90px;
  border-radius: 20px;
}

.icon .number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #4032ef;
  background-color: #4032ef;
  box-shadow: 0 0 20px 0 #5e40fc;
  border-radius: 50%;
  padding: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 450px;

  gap: 100px;
  justify-content: center;
  align-items: left;
  padding: 20px 50px;
}

.form-box {
  display: flex;
  width: 300px;

  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
  gap: 20px;
}

.box {
  display: flex;
  justify-content: space-between;
}

.form-tittle {
  color: #4635f3;
}

.reaction.text {
  display: flex;
  gap: 5px;
  color: #ff5555;
}

.memory.text {
  display: flex;
  gap: 5px;
  color: #ffb21e;
}
.verbal.text {
  display: flex;
  gap: 5px;
  color: #60d5b9;
}
.visual.text {
  display: flex;
  gap: 5px;
  color: #4d5ce0;
}

.form-btn button {
  padding: 20px 30px;
  width: 350px;
  border-radius: 50px;
  border: none;
  background-color: #4635f3;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.form-btn button:hover {
  background-color: #5e40fc;
}

.number strong {
  color: #4635f3;
}
